<%= form_for(@line) do |f| %>
  <% if @line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
      <% @line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :line_type_id %><br>
    <%= f.collection_select :line_type_id, LineType.all, :id, :name, {prompt: 'Choose LineType'} %>
  </div>
  <div class="field">
    <%= f.label :carrier_id %><br>
    <%= f.collection_select :carrier_id, Carrier.all, :id, :name, {prompt: 'Choose Carrier'} %>
  </div>
  <div class="field">
    <%= f.label :day_id %><br>
    <%= f.collection_select :day_id, Day.all, :id, :name, {prompt: 'Choose day'} %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :destination_tokens %><br/>
    <%= f.text_field :destination_tokens, data: {load: @line.destinations} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
