<% if @lines && !@lines.empty?%>
<table class="table">
  <thead>
    <td>Lyne Type</td>
    <td>Carrier</td>
    <td>Cost</td>
    <td>Destinations</td>
  </thead>
  <% @lines.each do |line|%>
    <tr>
      <td> <%= line.line_type.name%> </td>
      <td> <%= line.carrier.name%> </td>
      <td> <%= line.cost%> </td>
      <td>
        <ul>
            <%line.destinations.each do |destination| %>
                <li> <%= destination.name %> </li>
            <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
    <p>No result's found</p>
<% end %>