<p id="notice"><%= notice %></p>

<h1>Listing Lines</h1>

<table class="table">
  <thead>
    <tr>
      <th>Cost</th>
      <th>Line type</th>
      <th>Carrier</th>
      <th>Day</th>
      <th>Destinations</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.cost %></td>
        <td><%= line.line_type.name %></td>
        <td><%= line.carrier.name %></td>
        <td><%= line.day.name %></td>
        <td>
          <ul>
            <%line.destinations.each do |destination|%>
                <li><%= destination.name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= line.start_time %></td>
        <td><%= link_to 'Show', line %></td>
        <td><%= link_to 'Edit', edit_line_path(line) %></td>
        <td><%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line', new_line_path %>
