<h1>Searching lines</h1>

<%= form_tag('/search', remote: true) do %>
    <%= label_tag 'Carrier' %>
    <%= select_tag 'carrier_id', options_from_collection_for_select(Carrier.all, :id, :name), {prompt: "Any"}%>
    <%= label_tag 'Line Type'%>
    <%= select_tag 'line_type_id', options_from_collection_for_select(LineType.all, :id, :name), {prompt: "Any"}%>
    <%= label_tag 'Destination*' %>
    <%= select_tag 'destination_id', options_from_collection_for_select(Destination.all, :id, :name), {prompt: 'Choose Destination'}%>
    <%= label_tag 'Date*' %>
    <%= text_field_tag :query, params[:query], class: 'datepicker' %>
    <%= submit_tag 'Search', :name => nil %>
<% end %>

<br/>

<div class="results"></div>