<p id="notice"><%= notice %></p>

<p>
  <strong>Cost:</strong>
  <%= @line.cost %>
</p>

<p>
  <strong>Line type:</strong>
  <%= @line.line_type.name %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @line.carrier.name %>
</p>

<p>
  <strong>Day:</strong>
  <%= @line.day.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @line.start_time %>
</p>

<p>
  <strong>Destinations</strong>
  <ul>
    <% @line.destinations.each do |destination| %>
        <li><%= destination.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
